/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #0FB78D
}
.headere2d79a3ca0c8814a .button{
    background-color: #0FB78D;
    border-radius: 20px 20px;
    color: #fff
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link{
    color: rgba(0,0,0,.5)
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link:hover {
    color: #0FB78D
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
 .aboutd390a380620aac0e{
    padding: 2.5rem 0
 }

.aboutd390a380620aac0e .video_card::before {
    background-color: #0FB78D
}

.aboutd390a380620aac0e .video_card>.btn {
    color: #0FB78D;
}

.aboutd390a380620aac0e .video_card>.btn:active {
    color: #0FB78D;
    background: rgba(255, 255, 255, 0.5)
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
.freyategxpfzk1ni .fdb-block {
    padding: 2.5rem 0
  }
      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #0FB78D
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****foster*****/
/* #foster(fosterftsjsdoaie6) #css starts */
.fosterftsjsdoaie6 .fdb-block {
    padding: 2.5rem 0
 }
/* #foster(fosterftsjsdoaie6) #css starts */
/*****foster*****/

/*****baru*****/
    /* #baru(e9815bebb7496bd) #css starts  */
    .bannere9815bebb7496bd .page-title { 
        font-size: 32px
    }
        /* #baru(e9815bebb7496bd) #css ends  */
/*****baru*****/

/*****agun*****/
/* #agun(e50d5193e4b9f737) #css starts  */
.aboute50d5193e4b9f737 {
    padding: 2.5rem 0
}
.aboute50d5193e4b9f737 h2{
    font-size: 32px
}
.aboute50d5193e4b9f737 .margin{
    margin-left: -40px
}
.aboute50d5193e4b9f737 .searchBtn{
        background-color:#0FB78D;
        border-radius: 20px 20px;
        color: white;
        padding: 6px 12px;
        font-weight: bold
    }
/* #agun(e50d5193e4b9f737) #css ends  */
/*****agun*****/

/*****purves*****/
    /* #purves(pricestewikqmjie8) #css starts  */
    .pricestewikqmjie8 .fdb-block {
        padding: 2.5rem 0
     }
    
         .pricestewikqmjie8 .btn-primary{
            background-color: #0FB78D;
            border-color: #0FB78D
         }
         .pricestewikqmjie8 .btn-primary:hover,
         .pricestewikqmjie8 .btn-primary:not(:disabled):not(.disabled):active,
         .pricestewikqmjie8 .btn-primary:focus{
            color: #fff;
            background-color: #0FB78D;
            border-color: #0FB78D
        }
        .pricestewikqmjie8 h1{
            font-size: 32px
        }
    /* #purves(pricestewikqmjie8) #css ends  */
/*****purves*****/

/*****ted*****/
    /* #ted(testimonialprqwl7a4x8r) #css starts  */
    .testimonialprqwl7a4x8r {
        padding: 2.5rem 0
    }
    .testimonialprqwl7a4x8r h1{
        font-size: 32px
    }
    /* #ted(testimonialprqwl7a4x8r) #css ends  */
/*****ted*****/

/*****fanus*****/
 /* #fanus(b5f31747c48ae942) #css starts */
 .footerb5f31747c48ae942{
    overflow: hidden
 }
/* #fanus(b5f31747c48ae942) #css ends */
/*****fanus*****/